<div>
  <div>
    <h1>
      My calendar
    </h1>
  </div>
</div>
<hr>
<%last_frost = @current_user.last_frost%>
<div>
  <div>
    <table border =1>
      <tr>
        <th rowspan = 2>
        Crop
        </th>

        <th colspan = 2>
          Start seeds indoor
        </th>
        <th colspan = 2>
          Transplant or sow outdoors
        </th>
      </tr>
      <tr>

        <th>
          Early
        </th>

        <th>
          Late
        </th>

        <th>
          Early
        </th>

        <th>
          Late
        </th>
      </tr>

      <% @list_of_grow_dates.each do |a_grow_date| %>
      <tr>

        <td>
          <%= a_grow_date.plant.name %>
        </td>
        <%if a_grow_date.outdoor_only%>
        <td>*</td>
        <td>*</td>
        <%else%>
        <td>
          <% d = last_frost - 7*a_grow_date.early_indoor.to_i %>
          <%= d.strftime("%b%e")%>
        </td>

        <td>
          <% d = last_frost - 7*a_grow_date.late_indoor.to_i %>
          <%= d.strftime("%b%e")%>
        </td>
        <%end%>
        <td>
          <% d = last_frost - 7*a_grow_date.early_outdoor.to_i %>
          <%= d.strftime("%b%e")%>
        </td>

        <td>
          <% d = last_frost - 7*a_grow_date.late_outdoor.to_i %>
          <%= d.strftime("%b%e")%>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
<p>* best sown directly outdoors in the garden </p>
<hr>
