<div>
  <div>
    <h1>
      <%= @the_plant.name %>
    </h1>

    <div>
      <%if @current_user.present?%>
      <%my_garden = @current_user.gardens%>
      <%if my_garden.where({:plant_id => @the_plant.id}).count == 0%>
      <form action="/insert_garden" method="post">
          <input type="hidden" name="query_plant_id" value = <%= @the_plant.id %>>
        <button>
          Add to my garden!
        </button>
      </form>

      <%else%>
      <%the_id = my_garden.where({:plant_id => @the_plant.id}).first.id%>
      <form action="/delete_garden/<%=the_id%>">
        <button>
          Delete from my garden
        </button>
      </form>
      <%end%>
      <%end%>
    </div>

    <dl>
      <dd>
        <img src = <%= @the_plant.image_url %>>
      </dd>

      <dt>
        Sun requirement
      </dt>
      <dd>
        <%= @the_plant.sun_exposure %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @the_plant.difficulty %>
      </dd>

      <%if @the_plant.description.present?%>
      <dd>
        <%= @the_plant.description %>
      </dd>
      <%end%>

      <% if @the_plant.video_url.present?%>
      <dt>
        Growing Guide
      </dt>
      <dd>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/<%= @the_plant.video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </dd>
      <%end%>


      <%if @the_plant.growing.present?%>
      <dt>
        Tips for growing <%= @the_plant.name %>
      </dt>
      <dd>
        <%= @the_plant.growing %>
      </dd>
      <%end%>
      <dt>
        <h3>Caring for <%= @the_plant.name %></h3>
      </dt>
      <%if @the_plant.other_care.present?%>
      <dd>
        <%= @the_plant.other_care %>
      </dd>
      <%end%>

      <%if @the_plant.spacing.present?%>
      <dt>
        Spacing
      </dt>
      <dd>
        <%= @the_plant.spacing %>
      </dd>
      <%end%>

      <%if @the_plant.watering.present?%>
      <dt>
        Watering
      </dt>
      
      <dd>
        <%= @the_plant.watering %>
      </dd>
      <%end%>

      <%if @the_plant.feeding.present?%>
      <dt>
        Feeding
      </dt>
      <dd>
        <%= @the_plant.feeding %>
      </dd>
      <%end%>

      <%if @the_plant.harvest.present?%>
      <dt>
        Harvesting
      </dt>
      <dd>
        <%= @the_plant.harvest %>
      </dd>
      <%end%>


      <%if @the_plant.diseases.present?%>
      <dt>
        Diseases
      </dt>
      <dd>
        <%= @the_plant.diseases %>
      </dd>
      <%end%>

      <%if @the_plant.pests.present?%>
      <dt>
        Pests
      </dt>
      <dd>
        <%= @the_plant.pests %>
      </dd>
      <%end%>

    </dl>
  </div>
</div>

<%if @companions.present?%>
<hr>
<div>
<h3>Companion plants</h3>

<%@companions.each do |companion_pair|%>
<%the_id = companion_pair.companion_id%>
<%a_plant = Plant.where(:id => the_id).first%>

<div>
<div class="container">
  <div class="row">
      <div class="col">
        <div class="row">
          <a href="/plants/<%= a_plant.id %>"><%= a_plant.name %></a>

      <%if @current_user.present?%>
      <%my_garden = @current_user.gardens%>
      <%if my_garden.where({:plant_id => a_plant.id}).count == 0%>

      <div class="col">
      <form action="/insert_garden" method="post">
          <input type="hidden" name="query_plant_id" value = <%= a_plant.id %>>
        <button>
          Add to my garden!
        </button>
      </form>
      </div>

      <%else%>
      <%the_id = my_garden.where({:plant_id => a_plant.id}).first.id%>

      <div class="col">
      <form action="/delete_garden/<%=the_id%>">
        <button>
          Delete from my garden
        </button>
      </form>
      </div>
      <%end%>
      </div>

        <div class="row">
          <a href="/plants/<%= a_plant.id %>"><img src=<%= a_plant.image_url %> alt=<%= a_plant.name %>></a>
        </div>
      </div>
      <% end %>
  </div>
</div> 
</div>


<%end%>
</div>
<hr>
<%end%>

<%if @current_user.id == 1%>
<div>
  <div>
    <h2>
      Edit plant
    </h2>

    <form action="/modify_plant/<%= @the_plant.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_plant.name %>">
      </div>

      <div>
        <label for="plant_type_box">
          Plant type
        </label>

        <input type="text" id="plant_type_box" name="query_plant_type" value="<%= @the_plant.plant_type %>">
      </div>

      <div>
        <label for="sun_exposure_box">
          Sun exposure
        </label>

        <input type="text" id="sun_exposure_box" name="query_sun_exposure" value="<%= @the_plant.sun_exposure %>">
      </div>

      <div>
        <label for="difficulty_box">
          Difficulty
        </label>

        <input type="text" id="difficulty_box" name="query_difficulty" value="<%= @the_plant.difficulty %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_plant.description %>">
      </div>

      <div>
        <label for="spacing_box">
          Spacing
        </label>

        <input type="text" id="spacing_box" name="query_spacing" value="<%= @the_plant.spacing %>">
      </div>

      <div>
        <label for="video_url_box">
          Video url
        </label>

        <input type="text" id="video_url_box" name="query_video_url" value="<%= @the_plant.video_url %>">
      </div>

      <div>
        <label for="image_url_box">
          Image url
        </label>

        <input type="text" id="image_url_box" name="query_image_url" value="<%= @the_plant.image_url %>">
      </div>

      <div>
        <label for="watering_box">
          Watering
        </label>

        <input type="text" id="watering_box" name="query_watering" value="<%= @the_plant.watering %>">
      </div>

      <div>
        <label for="growing_box">
          Growing
        </label>

        <input type="text" id="growing_box" name="query_growing" value="<%= @the_plant.growing %>">
      </div>

      <div>
        <label for="harvest_box">
          Harvest
        </label>

        <input type="text" id="harvest_box" name="query_harvest" value="<%= @the_plant.harvest %>">
      </div>

      <div>
        <label for="feeding_box">
          Feeding
        </label>

        <input type="text" id="feeding_box" name="query_feeding" value="<%= @the_plant.feeding %>">
      </div>

      <div>
        <label for="other_care_box">
          Other care
        </label>

        <input type="text" id="other_care_box" name="query_other_care" value="<%= @the_plant.other_care %>">
      </div>

      <div>
        <label for="diseases_box">
          Diseases
        </label>

        <input type="text" id="diseases_box" name="query_diseases" value="<%= @the_plant.diseases %>">
      </div>

      <div>
        <label for="pests_box">
          Pests
        </label>

        <input type="text" id="pests_box" name="query_pests" value="<%= @the_plant.pests %>">
      </div>

      <button>
        Update plant
      </button>
    </form>
  </div>
</div>
<%end%>