<div>
  <div>
    <h1>
      Plant #<%= @the_plant.id %> details
    </h1>

    <div>
      <div>
        <a href="/plants">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_plant/<%= @the_plant.id %>">
          Delete plant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_plant.name %>
      </dd>

      <dt>
        Plant type
      </dt>
      <dd>
        <%= @the_plant.plant_type %>
      </dd>

      <dt>
        Sun exposure
      </dt>
      <dd>
        <%= @the_plant.sun_exposure %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @the_plant.difficulty %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_plant.description %>
      </dd>

      <dt>
        Spacing
      </dt>
      <dd>
        <%= @the_plant.spacing %>
      </dd>

      <dt>
        Video url
      </dt>
      <dd>
        <%= @the_plant.video_url %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @the_plant.image_url %>
      </dd>

      <dt>
        Watering
      </dt>
      <dd>
        <%= @the_plant.watering %>
      </dd>

      <dt>
        Growing
      </dt>
      <dd>
        <%= @the_plant.growing %>
      </dd>

      <dt>
        Harvest
      </dt>
      <dd>
        <%= @the_plant.harvest %>
      </dd>

      <dt>
        Feeding
      </dt>
      <dd>
        <%= @the_plant.feeding %>
      </dd>

      <dt>
        Other care
      </dt>
      <dd>
        <%= @the_plant.other_care %>
      </dd>

      <dt>
        Diseases
      </dt>
      <dd>
        <%= @the_plant.diseases %>
      </dd>

      <dt>
        Pests
      </dt>
      <dd>
        <%= @the_plant.pests %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_plant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_plant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit plant
    </h2>

    <form action="/modify_plant/<%= @the_plant.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_plant.name %>">
      </div>

      <div>
        <label for="plant_type_box">
          Plant type
        </label>

        <input type="text" id="plant_type_box" name="query_plant_type" value="<%= @the_plant.plant_type %>">
      </div>

      <div>
        <label for="sun_exposure_box">
          Sun exposure
        </label>

        <input type="text" id="sun_exposure_box" name="query_sun_exposure" value="<%= @the_plant.sun_exposure %>">
      </div>

      <div>
        <label for="difficulty_box">
          Difficulty
        </label>

        <input type="text" id="difficulty_box" name="query_difficulty" value="<%= @the_plant.difficulty %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_plant.description %>">
      </div>

      <div>
        <label for="spacing_box">
          Spacing
        </label>

        <input type="text" id="spacing_box" name="query_spacing" value="<%= @the_plant.spacing %>">
      </div>

      <div>
        <label for="video_url_box">
          Video url
        </label>

        <input type="text" id="video_url_box" name="query_video_url" value="<%= @the_plant.video_url %>">
      </div>

      <div>
        <label for="image_url_box">
          Image url
        </label>

        <input type="text" id="image_url_box" name="query_image_url" value="<%= @the_plant.image_url %>">
      </div>

      <div>
        <label for="watering_box">
          Watering
        </label>

        <input type="text" id="watering_box" name="query_watering" value="<%= @the_plant.watering %>">
      </div>

      <div>
        <label for="growing_box">
          Growing
        </label>

        <input type="text" id="growing_box" name="query_growing" value="<%= @the_plant.growing %>">
      </div>

      <div>
        <label for="harvest_box">
          Harvest
        </label>

        <input type="text" id="harvest_box" name="query_harvest" value="<%= @the_plant.harvest %>">
      </div>

      <div>
        <label for="feeding_box">
          Feeding
        </label>

        <input type="text" id="feeding_box" name="query_feeding" value="<%= @the_plant.feeding %>">
      </div>

      <div>
        <label for="other_care_box">
          Other care
        </label>

        <input type="text" id="other_care_box" name="query_other_care" value="<%= @the_plant.other_care %>">
      </div>

      <div>
        <label for="diseases_box">
          Diseases
        </label>

        <input type="text" id="diseases_box" name="query_diseases" value="<%= @the_plant.diseases %>">
      </div>

      <div>
        <label for="pests_box">
          Pests
        </label>

        <input type="text" id="pests_box" name="query_pests" value="<%= @the_plant.pests %>">
      </div>

      <button>
        Update plant
      </button>
    </form>
  </div>
</div>

<hr>
