<div>
  <div>
    <h1>
      My garden
    </h1>
  </div>
</div>

<hr>
<%if @current_user.present?%>
<div>
<div class="container">
  <div class="row">
      <% @list_of_gardens.each do |a_garden| %>
      <%a_plant = a_garden.plant%>
      <div class="col">
        <div class="row">
          <a href="/plants/<%= a_plant.id %>"><%= a_plant.name %></a>
        <div class="col">
      <form action="/delete_garden/<%=a_garden.id%>">
        <button>
          Delete from my garden
        </button>
      </form>
        </div>
      </div>
      <div class="row">
          <a href="/plants/<%= a_plant.id %>"><img src=<%= a_plant.image_url %> alt=<%= a_plant.name %>></a>
        </div>
      </div>
      <%end%>
<%end%>
  </div>
</div> 
</div>
<hr>