
<div class="p-3 mb-2 bg-dark text-center text-white mt-1">
  <h1>
    My garden
  </h1>
</div>

<div class="p-3 mb-2 bg-light text-dark">
<%if @current_user.present?%>
<div class="row" >
  <% @list_of_gardens.each do |a_garden| %>
    <%a_plant = a_garden.plant%>
    <div class="col m-auto">
    <div class="card border-dark mb-3" style="width: 12rem;" id = "<%=a_plant.id%>">
      <div class="card-header">
        <h4 class="card-title"><a href="/plants/<%= a_plant.id %>"><%= a_plant.name %></a></h4>
      </div>

      <a href="/plants/<%= a_plant.id %>"><img src=<%= a_plant.image_url %> class="card-img-top"></a>

      <div class="card-body">
          <%my_garden = @current_user.gardens%>
            <%the_id = my_garden.where({:plant_id => a_plant.id}).first.id%>
            <a href="/delete_garden/<%=the_id%>" class="btn btn-outline-danger">Remove</a>
      </div>
    </div>
    </div>
  <%end%>
</div>
</div>


<%all_companions = []%>
<%plants_in_garden = []%>
<%@list_of_gardens.each do |a_garden|%>
  <%companions = a_garden.companions%>
  <%plants_in_garden.append(a_garden.plant_id)%>
      <%companions.each do |companion_pair|%>
      <%the_id = companion_pair.companion_id%>
      <%a_plant = Plant.where(:id => the_id).first%>
      <%all_companions.append(a_plant.id)%>
      <%end%>
<%end%>
<%unique_companions = all_companions - plants_in_garden%>
<%freq = unique_companions.inject(Hash.new(0)) { |h,v| h[v] += 1; h }%>
<%top_3_companions = freq.sort_by { |_, v| -v }.first(3).map(&:first)%>


<%if top_3_companions.present?%>
<hr>


<div class="p-3 mb-2 bg-info text-white"><h5>Like to grow more? These are your garden's top companion crops:</h5></div>
<div class="p-3 mb-2 bg-light text-dark">

<div class="row" >
  <%top_3_companions.each do |the_id|%>
    <%a_plant = Plant.where(:id => the_id).first%>
    <div class="col-md-4 mb-5">
    <div class="card border-dark mb-3" id = "<%=a_plant.id%>">
      <div class="card-header">
        <h4 class="card-title"><a href="/plants/<%= a_plant.id %>"><%= a_plant.name %></a></h4>
      </div>

      <a href="/plants/<%= a_plant.id %>"><img src=<%= a_plant.image_url %> class="card-img-top"></a>

      <div class="card-body">
          <%my_garden = @current_user.gardens%>
          <%if my_garden.where({:plant_id => a_plant.id}).count == 0%>
            <form action="/insert_garden" method="post">
              <input type="hidden" name="query_plant_id" value = <%= a_plant.id %>>
              <button class="btn btn-outline-success">Add to my garden!</button>
            </form>
          <%end%>
      </div>
    </div>
    </div>
  <%end%>
<%end%>
<%end%>
</div>