<div>
  <div>
    <h1>
      List of all gardens
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new garden
    </h2>

    <form action="/insert_garden" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="plant_id_box">
          Plant
        </label>

        <input type="text" id="plant_id_box" name="query_plant_id">
      </div>

      <button>
        Create garden
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Plant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_gardens.each do |a_garden| %>
      <tr>
        <td>
          <%= a_garden.id %>
        </td>

        <td>
          <%= a_garden.user_id %>
        </td>

        <td>
          <%= a_garden.plant_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_garden.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_garden.updated_at) %> ago
        </td>

        <td>
          <a href="/gardens/<%= a_garden.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
